beautifulsoup4==4.12.3
cffi==1.17.1
colorclass==2.2.2
compressed_rtf==1.0.6
cryptography==44.0.0
easygui==0.98.3
ebcdic==1.1.1
extract-msg==0.52.0
lark==1.1.9
msoffcrypto-tool==5.4.2
olefile==0.47
oletools==0.60.2
pcodedmp==1.2.6
pycparser==2.22
pyparsing==3.2.0
red-black-tree-mod==1.20
RTFDE==0.1.2
soupsieve==2.6
tzlocal==5.2
